@import '../../styles/variables';

.component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .user_name_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .go_back {
      display: flex;
      align-items: center;
      padding: 4px 10px;
      border: none;
      border-radius: 4px;
      background-color: $card;
      color: $accent;
      cursor: pointer;

      svg {
        margin-right: 8px;
      }

      p {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.374px;
      }

      &:hover {
        background-color: darken($card, 3);
      }
    }

    .user_name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 14px;

      &.edit {
        margin-top: 13px;
      }

      button {
        background: transparent;
        width: fit-content;
        height: fit-content;
        padding: 0;
        font-size: 0;
        border: none;
        color: $grey;
        cursor: pointer;
      }

      .pencil {
        &:hover {
          color: $accent;
        }
      }

      .error {
        color: $exit;
        font-size: 18px;
        font-weight: 500;
      }

      p,
      input {
        font-size: 32px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0.374px;
        color: $text;
        margin: 0 18px;
      }

      input {
        outline: none;
        padding: 0;
        border: none;
        width: calc(100% - 96px);
        margin: 0;
      }

      .input_container {
        position: relative;
        border: 1px $line solid;
        border-radius: 8px;
        padding: 0 9px;
        margin-left: 8px;
        margin-right: 0;
        width: 569px;

        button {
          position: absolute;

          &.done {
            color: $accent;
            top: 16px;
            right: 56px;
          }

          &.clear {
            top: 16px;
            right: 16px;
          }
        }
      }
    }
  }

  .user_data_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > p {
      margin-top: 12px;
      font-size: 13px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.374px;
      color: $text;
    }

    .device_info_block {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 6px;

      .device_info {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $card;
        padding: 8px 10px;
        border-radius: 4px;
        margin-right: 32px;

        p {
          font-size: 14px;
          font-weight: 600;
          line-height: 25px;
          letter-spacing: 0.374px;
          color: $accent;
          margin-left: 8px;
        }

        .line {
          height: 25px;
          width: 1px;
          background-color: $line;
          margin: 0px 16px;
        }
      }

      .temperature {
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 0.374px;

        &.high {
          color: $exit;
        }
        &.low {
          color: $accent;
        }
        &.normal {
          color: $text;
        }
      }
    }
  }
}
