@import '../../styles/variables';

.component {
  display: flex;
  justify-content: center;

  .content {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;

    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 36px;
      color: $text;
      line-height: 56px;
      letter-spacing: 0.374px;
      margin-bottom: 32px;
    }
  }
}
