@import '../../styles/variables';

.component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;

  img {
    margin-left: -8px;
  }

  .panel {
    display: flex;
    width: 742px;
    justify-content: space-between;
  }
}
