@import '../../../styles/variables';

.component {
  .searchInput {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 420px;
    height: 48px;
    background: $white;

    border: 1px solid $line;
    border-radius: 8px;
    color: $grey;

    &:focus-within {
      border: 1px solid $accent;
      color: $accent;
    }

    &:hover {
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
      border-radius: 8px;
      color: $accent;
    }

    input {
      display: flex;
      align-items: center;

      height: 24px;
      width: 324px;

      background-color: $white;
      color: $text;
      border: 0px;
      margin-left: 8px;
      padding: 0px;

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      &:focus {
        outline: none;
      }
    }

    .searchIcon {
      font-size: 0px;
      margin: 12px 0px;
      margin-left: 16px;
    }

    .clearIcon {
      font-size: 0px;
      margin-left: 8px;
      color: $grey;

      &:hover {
        color: $text;
        cursor: pointer;
      }
    }
  }

  .searchResults {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 1;

    position: absolute;

    border: 1px solid $line;
    border-radius: 4px;

    box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    background-color: $white;
    margin-top: 4px;

    width: 420px;
    padding: 12px 16px;

    max-height: 112px;

    /* полоса прокрутки не предоставляется если не нужна*/
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 7px;
      background-color: $line;
    }
    .searchResult {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      margin-bottom: 8px;
      border: none;
      background-color: $white;

      color: $text;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      cursor: pointer;

      &.not_found {
        color: $grey;

        &:hover {
          background-color: $white;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }

      &:hover {
        background-color: $card;
      }
    }
  }
}
