@import '../../../styles/variables';

.component {
  border-radius: 8px;

  &.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    color: $white;
    padding: 12px;
    height: 56px;
    width: 450px;
    background: $accent;
    font-size: 18px;

    &:hover {
      opacity: 0.9;
    }

    &:disabled {
      opacity: 0.5;
    }

    &.load {
      opacity: 0.5;
    }
  }

  &.logout {
    padding: 12px;
    background: $exit;
    border: none;
    color: $white;
    margin-left: 16px;
    font-size: 0;

    &:hover {
      opacity: 0.9;
    }
  }

  &.go_back {
    background: $accent;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border: 1px;
    padding: 12px;
    gap: 10px;

    color: $white;

    width: 166px;
    height: 48px;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.37px;
    line-height: 40px;

    &:hover {
      opacity: 0.9;
    }
  }

  &.delete {
    box-sizing: border-box;
    padding: 12px;
    background: $white;
    border: 1px solid $accent;
    color: $accent;
    font-size: 0px;

    &.active {
      color: $accent;

      &:hover {
        background-color: $card;
      }
    }

    &:disabled {
      border: 1px solid $line;
      color: $line;
    }
  }
}
