@import '../../styles/variables';

.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  label {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
    color: $text;
  }

  .input_container {
    width: 100%;
    position: relative;

    svg {
      color: $grey;
      position: absolute;
      top: 18.45px;
      right: 17px;
    }
  }

  input {
    width: 100%;
    border: 1px solid $line;
    padding: 0px;
    line-height: 56px;
    background-color: #fff;
    border-radius: 8px;
    padding: 0px 16px;
    font-size: 18px;
    margin-bottom: 24px;
    outline: none;

    &:hover {
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    }

    &:focus-visible {
      border: 1px solid $accent;
    }

    &:disabled {
      color: $grey;
    }

    &.password {
      padding-right: 43px;
      position: relative;

      svg {
        position: absolute;
      }
    }
  }

  .aggree {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    color: $grey;

    svg {
      margin-right: 10px;

      &:hover {
        color: $accent;
      }
    }

    a {
      color: $accent;

      &:hover {
        color: darken($accent, 20);
      }
    }
  }

  .error {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: -36px auto 12px;
    color: $exit;
  }
}
