@import '../../../styles/variables';

.component {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text;

  .controls {
    display: flex;
    align-items: center;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.374px;

      b {
        font-weight: 500;
      }

      &.link {
        margin-left: 32px;
        margin-right: 56px;
        font-weight: 500;
        color: $accent;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.374px;
      margin-right: 16px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: $card;
      padding: 0;
      border: none;
      margin-left: 10px;
      width: 24px;
      height: 24px;
      border-radius: 4px;

      &:hover {
        color: darken($card, 10);
      }
    }
  }
}
