@import '../../../styles/variables';

.component {
  .container {
    width: 84px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid $accent;

    .dropdownBtn {
      border-radius: 8px;
      padding: 12px 14px;
      width: 100%;

      background-color: $white;
      border: none;

      font-size: 18px;
      line-height: 24px;

      justify-content: flex-start;
      align-items: center;
      display: flex;
      letter-spacing: 0.374px;
      flex-direction: row;

      gap: 3px;
      font-weight: bold;
      color: $accent;
      cursor: pointer;
      &:hover {
        background-color: $card;
      }
    }
    .dropdownContent {
      border-radius: 8px;
      background-color: $white;
      color: $accent;

      .dropdownItem {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;

        .line {
          align-self: center;
          width: 68px;
          height: 1px;
          background-color: $line;
        }
      }
    }
  }
}
