@import '../../styles/variables';

.component {
  &.Modal {
    position: absolute;

    display: flex;
    flex-direction: column;

    padding: 0px 24px;

    width: 366px;
    height: fit-content;

    top: 50%;
    left: 50%;

    background: $white;
    box-shadow: 0px 11.6189px 124.28px rgba(18, 45, 108, 0.17);
    border-radius: 16px;

    transform: translate(-50%, -50%);

    h2 {
      color: $text;
      margin-top: 27.6px;

      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;

      &:first-of-type {
        margin-top: 24px;
        margin-bottom: 18px;
      }
      &:last-of-type {
        margin-bottom: 24px;
      }

      &.error {
        margin-top: 14px;
        margin-bottom: 18px;
        color: $exit;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 16px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        width: 318px;
        height: 42px;

        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.37px;

        padding: 0px;

        &.confirm {
          background: $accent;
          border: none;
          color: $white;

          &:hover {
            opacity: 0.9;
          }

          &:disabled {
            opacity: 0.5;
          }
        }

        &.go_back {
          border: 1px solid $grey;
          background-color: $white;
          color: $grey;
          margin-bottom: 24px;

          &:hover {
            background-color: $card;
          }
        }
      }
    }
  }

  &.Overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(82, 83, 88, 0.6);
  }
}
