@import '../../styles/variables';

.component {
  background-color: $card;

  .content {
    width: 1600px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    h1 {
      color: $text;
      font-size: 24px;
      font-weight: 800;
    }

    .controls {
      height: 100%;
      padding-top: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}
