@import '../../styles/variables';

.component {
  width: 100%;

  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 16px;
    width: 100%;
    border: 0.5px solid $line;

    tr {
      th,
      td {
        text-align: left;
        border: 0.5px solid $line;
        padding: 20px;
        color: $text;

        &.skeleton {
          svg {
            display: block;
            margin: auto;
          }
        }

        &:first-of-type,
        &:last-of-type {
          text-align: center;

          &.checked {
            color: $accent;
          }

          svg {
            display: block;
            margin: auto;

            &:hover {
              fill: $accent !important;
            }
          }
        }
      }
    }

    td {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.374px;
    }

    th {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.374px;
      background-color: $card;

      &:first-of-type {
        border-top-left-radius: 16px;
        width: 5.8%;
      }
      &:last-of-type {
        border-top-right-radius: 16px;
        width: 5.8%;
        color: $grey;
      }
      &:nth-of-type(2) {
        width: 30%;
      }
      &:nth-of-type(3) {
        width: 24.6%;
        position: relative;
      }
      &:nth-of-type(4) {
        width: 13%;
      }
    }

    tr:last-of-type td {
      &:first-of-type {
        border-bottom-left-radius: 16px;
      }
      &:last-of-type {
        border-bottom-right-radius: 16px;
      }
    }
  }
}
