@import '../../styles/variables';

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 216px;

  img {
    width: 145px;
    height: 145px;
  }

  p {
    margin-top: 32px;
    color: $grey;
    font-size: 18px;
    line-height: 41px;
    font-weight: 600;
    letter-spacing: 0.374px;
  }
}
