@import '../../../styles/variables';

.component {
  position: absolute;
  top: 25px;
  right: 25px;
  display: inline-block;
  height: 24px;
  vertical-align: text-top;
  background-color: $card;

  .dropdownBtn {
    height: 24px;
    width: 24px;
    padding: 0px;
    border: none;
    color: $grey;
    background-color: $card;

    &:hover {
      color: $accent;
    }

    &.active {
      color: $accent;
    }

    cursor: pointer;
  }
  .dropdownContent {
    width: 203px;
    height: 162px;
    border-radius: 4px;

    box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    background-color: $white;
    color: $text;

    position: absolute;

    top: 28px;
    right: -24px;

    p {
      display: flex;
      align-items: center;

      height: 20px;
      width: 126px;
      margin: 12px 0px;
      margin-left: 16px;
      margin-right: 61px;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.374px;

      color: $text;

      font-family: 'Montserrat', sans-serif;
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: $line;
      margin-bottom: 16px;
    }

    .dropdownItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 16px;
      margin-bottom: 14px;

      p {
        width: 96px;
        margin: 0px;
        line-height: 20px;
      }

      flex-direction: row;

      .checkboxButton {
        height: 16px;
        width: 16px;
        background-color: $white;
        color: $line;
        padding: 0px;
        border: none;
        margin-right: 8px;

        &:hover {
          color: $accent;
        }
        &.checked {
          color: $accent;
        }
      }
    }
  }
}
