@import '../../../styles/variables';

.component {
  &.checked {
    background-color: $card;
  }

  td {
    color: $text;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.374px;

    a {
      text-decoration: none;
      color: $text;
    }

    &.skeleton {
      svg {
        display: block;
      }
    }

    &.no_data {
      color: $grey;
      font-weight: 500;
    }

    .dash {
      height: 1px;
      width: 17px;
      background-color: $grey;
    }

    p {
      display: inline-block;
      &.high {
        font-weight: 700;
      }
      &.low {
        font-weight: 700;
      }
      &.normal {
        font-weight: 400;
      }
    }

    &.high {
      color: $exit;
    }
    &.low {
      color: $accent;
    }
    &.normal {
      color: $text;
    }

    span {
      color: #fff;

      svg {
        vertical-align: top;
        margin-right: 10px;
      }
    }

    &:last-of-type {
      color: $line;

      &.checked {
        color: $accent;
      }
    }
  }
}
