@import '../../styles/variables';

.component {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 48px;

  .dateSwitch {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0px;
      width: 40px;
      height: 40px;

      border: none;
      box-shadow: 0px 1px 4px rgba(28, 31, 104, 0.15);
      border-radius: 4px;

      background-color: $white;
      color: $white;

      &:hover {
        background-color: $card;
        color: $card;
        cursor: pointer;
      }
    }

    .dateContent {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0px 10px;

      width: 456px;
      height: 40px;

      box-shadow: 0px 1px 4px rgba(28, 31, 104, 0.15);
      border-radius: 4px;
      background-color: $white;

      .today {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 15px;
        margin: 0px;

        color: $accent;

        p {
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: -0.24px;
          color: $text;
        }
      }
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 16px;
    width: 100%;
    border: 0.5px solid $line;

    tr {
      th,
      td {
        text-align: left;
        border: 0.5px solid $line;
        padding: 20px;
        color: $text;
      }
    }

    td {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.374px;

      &.hight {
        color: $exit;
        font-weight: 800;
      }
      &.low {
        color: $accent;
        font-weight: 800;
      }
      &.normal {
        color: $text;
      }
    }

    th {
      font-weight: 600;
      font-size: 18px;
      line-height: 41px;
      letter-spacing: 0.374px;
      background-color: $card;

      &:first-of-type {
        border-top-left-radius: 16px;
        width: 30%;
      }
      &:last-of-type {
        border-top-right-radius: 16px;
        width: 30%;
      }
      &:nth-of-type(2) {
        width: 40%;
      }
    }

    tr:last-of-type td {
      &:first-of-type {
        border-bottom-left-radius: 16px;
      }
      &:last-of-type {
        border-bottom-right-radius: 16px;
      }
    }
  }
}
