@import '../../styles/variables';

.component {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    margin-top: 256px;
    //margin-right: 493px;
    //margin-bottom: 299px;
    //margin-left: 494px;
  }
  .text {
    color: $grey;
    padding: 54px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.374px;
    line-height: 24px;

    p {
      font-weight: 500;
      font-size: 18px;
    }

    h2 {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 24px;
    }
  }
  .button {
    justify-content: flex-end;
  }
}
